body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto 72px;
}

#hero img {
    margin-bottom: 72px;
}

/*fontes de corpo e das tags h1 */
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;  
    font-weight: 400;
    margin-bottom: 32px;
}

/* colocando peso da fonte do span que esta dentro do h1 como bold */
h1 span {
    font-weight: 700;
}

/* colocando cores no span */
span,a {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#footer {
    font-size: 14px;
    line-height: 28px;
}


#footer a + a{
    margin-left: 28px;
}

#line {
    width: 568px;
    height: 0;
    border: 1px solid #ECEFF2;
    margin: 0 auto 8px;
}

#bolinhas {
    position:fixed;
    bottom: 0px;
    right: 0px;
}